@import url('./reset.css');
@import url('header.css');
@import url('footer.css');
@import url('signinstyle.css');
@import url('contact.css');
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,600,700,800|Poppins:400,500,600,700|Yellowtail&display=swap);

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f6f6f6;
}



/* main section css */

/* slider view css  */
.carousel-inner .card-img-overlay {
    padding-top: 167px;
    padding-left: 650px;
    margin-right: 30px;
}

.carousel-inner .card-img-overlay h5 {
    color: black;
    font-weight: 400;
    font-size: 2rem;
    /* margin-top: 10px; */
}

.carousel-inner .card-img-overlay h2 {
    color: black;
    font-size: 6rem;
    font-weight: bold;
    margin-top: 10px;
}

.carousel-inner .card-img-overlay p {
    color: black;
    font-size: 1rem;
    margin-top: 10px;
}

/* banner css  */
.banner-area {
    margin: 60px 0;

}

.banner-area .card {
    border: none;
}

.banner-area .card:hover {
    box-shadow: 1px 1px 8px #d8d8d8;
    border: none;
}

.banner-area .banner1 .card-img-overlay {
    color: #000000;
}

.banner-area .banner1 .card-img-overlay h3 {
    color: #6a6a6a;
    font-weight: bold;
    margin-top: 1%;
}

.banner-area .banner1 .card-img-overlay h4 {
    font-weight: bold;
    color: #cc776e;
    margin-top: 65%;
}

.banner-area .banner2 .card-img-overlay {
    color: #6a6a6a;
    top: 150px;
    left: 313px;
    font-weight: bold;
    padding-right: 52px;
}

.banner-area .banner2 .card-img-overlay h3 {
    font-weight: bold;
}

.banner-area .banner2 .card-img-overlay h4 {
    font-weight: bold;
    color: #cc776e;
}

/* Featured Products css 1 */



/* Featured Products css  */
.featuredProducts .title-border {
    padding-top: 30px;
    padding-bottom: 25px;
}

.tab-content .productCard div {
    margin: 5px 0px;
}

.single-productList-view:hover {
    box-shadow: 2px 2px 3px #cc776f;
}

.card .product-list-img .card-img-top {
    position: relative;
    margin-top: 15px;
}

.product-list-img .new-product span {
    position: absolute;
    color: white;
    top: 31px;
    left: 25px;
    background-color: #cc776e;
    padding: 3px 11px;
    border-radius: 6px;
    opacity: 1;
}


/* .card-body css*/

.card-body {
    opacity: 1;
}

.card-body h4 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0px;
}

.listProduct-price div a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 5px 2px;
}

.listProduct-price .product-prise {
    color: black;
    font-weight: bold;
    margin-right: 8px;
}

.listProduct-price {
    margin: 10px 0;
}

.listProduct-price .product-discount {
    text-decoration: line-through;
    color: rgb(255, 0, 0);
    margin-right: 8px;
}

.listProduct-price .product-off {
    color: rgb(243, 102, 26);
    font-weight: 700;
}

.card-body .listProduct-stars i {
    margin-top: 0px;
    margin-right: 5px;
    color: #cc776f;
}

.card-body .wishlist {
    background-color: #cfcfcf;
    margin: 20px 0px;
}

.card-body .wishlist i {
    color: #000000;
}

/* discount section css  */
.discountSection .container {
    margin-top: 30px;
}

.discountSection .carousel-inner .card-img-overlay {
    padding-top: 67px;
    padding-left: 160px;
    margin-right: 30px;
}

.discountSection .card-img-overlay .saleIcon {
    background-color: #cc776e;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    padding: 27px 0px;
    margin-right: 50px;
}

/* blog section css  */
.blogSection {
    margin-top: 50px;
}

.blogSection .blogCards {
    padding: 30px 0;
    margin-left: 90px;
}

/* end main section css  */




.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.aside {
    float: left;
}

#scrollup {
    font-size: 40px;
    color: yellowgreen;
    position: sticky;
    left: 1400px;
    bottom: 50px;
    cursor: pointer;
}

.checked {
    color: orange;
}